body {
    padding: 0;
    margin: 0;
    background-color: #4f5355;
}

.header {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: #1f1f1f;
    color: #ffffff;
}

.title {
    flex: 1;
}

.navbar {
    flex: 1;
    display: flex;
    text-align: end;
}

.navbar ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex: 1;
    align-items: flex-end;
}

.navbar li {
    flex: 5;
}

.navbar li:nth-of-type(2) {
    flex: 1;
}

.site-area {
    display: flex;
    height: 100%;
    margin: 20px;
    justify-content: center;
    color: #ffffff;
}

.form-title {
    flex: 1;
    text-align: center;
}

.upload-form {
    flex: 1; 
    border: solid 2px #ffffff42;
    border-radius: 2%;
    color: #ffffff;
    padding: 10px;
}

.upload-form button {
    margin-left: 10px;
}

.upload-form input {
    margin: 10px;
}

.not-found h5 {
    font-size: 72px;
}

#file {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#filename {
    flex: 1;
}

#expire {
    flex: 1;
}

#download {
    flex: 1;
}

#download a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

a {
    text-decoration: none;
    color: #ffffff;
}